@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

@layer base {
  html {
    font-family: 'Roboto', sans-serif;
  }
}
html,
body {
  height: 100%;
  background-color: #ffffff;
  position: relative;
  overflow-x: hidden;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/* main container */
.main-container {
  max-width: 428px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* logo */
.logo {
  width: 198px;
  height: 198px;
}

/* header */
.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 318px;
}

.header-container p {
  text-align: center;
  padding-top: 15px;
  font-size: 14px;
  line-height: 18px;
}

/* tabs section */
.tabs-section {
  padding-top: 52px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.single-tab-container {
  text-align: center;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.underline {
  height: 3px;
  width: 100%;
  background-color: #e70b89;
}

.single-tab-container a {
  color: #1d2226;
  text-decoration: none;
  font-size: 16px;
  line-height: 21px;
}

.single-tab-container .active {
  font-weight: 700;
}

/* form  */
.form-container {
  padding-top: 44px;
}

input {
  width: 300px;
  height: 50px;
  background-color: #ffffff4d;
  border-radius: 26px;
  border: 1px solid #1a1a1a;
  padding-left: 25px;
  color: #1a1a1a;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.button-container {
  padding-top: 35px;
}

.btn {
  background: none;
  border: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  height: 21px;
  background-color: #e70b89;
  width: 300px;
  height: 50px;
  border-radius: 26px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-container {
  padding-top: 15px;
  text-align: right;
}

.link-container a {
  text-decoration: none;
  font-size: 14px;
  line-height: 19px;
  color: #e70b89;
}

/* social container */
.social-login-container {
  padding-top: 23px;
}
.social-login-text p {
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  color: #9d9d9d;
}

.social-link {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 1px solid #e6e6e6;
  display: flex;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  cursor: pointer;
}

.google,
.facebook,
.twitter {
  height: 22px;
}

.social-links-box {
  padding-top: 21px;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.redirect-to-sign-up {
  text-align: center;
  padding-top: 23px;
}

.redirect-to-terms-condition {
  padding-top: 24px;
}
.redirect-to-sign-up p,
.redirect-to-terms-condition p {
  font-size: 12px;
  line-height: 16px;
  color: #1a1a1a;
}

.sign-up-link {
  color: #e70b89;
  text-decoration: none;
}

.sign-up-link:hover {
  cursor: pointer;
}

.terms-condition-link {
  color: #e70b89;
}

.terms-condition-link:hover {
  cursor: pointer;
}

@media screen and (min-width: 656px) {
  .tabs-section {
    width: 428px;
  }

  .underline {
    width: 188px;
  }

  input {
    width: 300px;
  }
}
